.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: min(600px, 100% - 2rem);
    margin: 0 auto;

    .header {
        font-size: 2rem;
        margin-top: 1rem;
    }
}