@import "tailwindcss";

@theme {
    --font-archivo: "Archivo Narrow", system-ui, sans-serif;
}

@font-face {
    font-family: "Archivo Narrow";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("font/ArchivoNarrow-VariableFont_wght.ttf") format("opentype");
}