<div class="xiv-checkbox">
    <label>
        <InputCheckbox @bind-Value:get="@Checked" @bind-Value:set="@SetCheckedAsync"
                       AdditionalAttributes="@CreateAdditionalAttributes()"/>
        @ChildContent
    </label>
</div>

@code {
    [Parameter] [EditorRequired] public required RenderFragment? ChildContent { get; set; }

    [Parameter] public bool Checked { get; set; }
    [Parameter] public EventCallback<bool> CheckedChanged { get; init; }

    private async Task SetCheckedAsync(bool isChecked)
    {
        Checked = isChecked;
        await CheckedChanged.InvokeAsync(isChecked);
    }

    private IReadOnlyDictionary<string, object> CreateAdditionalAttributes()
    {
        return new Dictionary<string, object>
        {
            { "disabled", !RendererInfo.IsInteractive }
        };
    }

}