@using Microsoft.AspNetCore.Components.Forms
<div class="xiv-checkbox">
    <label>
        <InputCheckbox @bind-Value:get="@Checked" @bind-Value:set="@CheckedChanged"
                       AdditionalAttributes="@CreateAdditionalAttributes()"/>
        @ChildContent
    </label>
</div>

@code {
    [Parameter] [EditorRequired] public required RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback<bool> OnCheckedChanged { get; init; }
    [Parameter] public bool Checked { get; set; }

    private Task CheckedChanged(bool isChecked)
    {
        Checked = isChecked;
        return OnCheckedChanged.InvokeAsync();
    }

    private IReadOnlyDictionary<string, object> CreateAdditionalAttributes()
    {
        return new Dictionary<string, object>
        {
            { "disabled", !RendererInfo.IsInteractive }
        };
    }

}