<div class="xiv-frame @Theme.CssClass @(Active ? "active" : null)"
     @onmouseenter="@(() => Active = true)" @onmouseleave="@(() => Active = false)"> <!-- TODO move this outta here -->
    @ChildContent
</div>

@code {
    [Parameter] public Theme Theme { get; set; }
    [Parameter] public bool Active { get; set; }
    [Parameter] [EditorRequired] public required RenderFragment ChildContent { get; set; }
}
