<XivFrame Theme="@Theme" Active="@Active">
    <div class="xiv-window">
        <div class="label">@Label</div>
        <XivDivider/>
        <div class="@(Formatted ? "formatted" : string.Empty)">
            @ChildContent
        </div>
    </div>
</XivFrame>

@code {

    [Parameter] [EditorRequired] public required string Label { get; set; }
    [Parameter] [EditorRequired] public required RenderFragment ChildContent { get; set; }
    [Parameter] public Theme Theme { get; set; }
    [Parameter] public bool Active { get; set; }
    [Parameter] public bool Formatted { get; set; } = true;

}
