@page "/"
@rendermode InteractiveAuto

<PageTitle>Home</PageTitle>

<div id="container">
    <fieldset>
        <legend>@nameof(XivFrame)</legend>

        <XivFrame>XivFrame</XivFrame>
    </fieldset>

    <fieldset>
        <legend>@nameof(XivWindow)</legend>
        <XivWindow Label="XivWindow">XivWindow content</XivWindow>
        <XivWindow Label="XivWindow non-formatted" Formatted="false">XivWindow content</XivWindow>
    </fieldset>

    <fieldset>
        <legend>@nameof(XivCheckbox)</legend>
        <XivCheckbox>Checkbox</XivCheckbox>
        <XivCheckbox Checked="true">Checkbox checked</XivCheckbox>
        <XivWindow Label="XivCheckbox">
            <XivCheckbox>Checkbox</XivCheckbox>
            <XivCheckbox @bind-Checked="_checked">Checkbox checked with two way binding</XivCheckbox>
            Checked: @_checked
        </XivWindow>
        <XivWindow Label="XivCheckbox non-formatted" Formatted="false">
            <XivCheckbox>Checkbox</XivCheckbox>
            <XivCheckbox Checked="true">Checkbox checked</XivCheckbox>
        </XivWindow>
    </fieldset>

    <fieldset>
        <legend>@nameof(XivButton)</legend>
        <XivButton>This is a button</XivButton>
        <XivButton Disabled="true">Disabled button</XivButton>
        <XivWindow Label="XivButton">
            <XivButton OnClick="_ => _buttonPressed = true">Interactive button</XivButton>
            Button pressed: @_buttonPressed
            <XivButton Disabled="true">Disabled button</XivButton>
        </XivWindow>
        <XivWindow Label="XivButton non-formatted" Formatted="false">
            <XivButton>This is a button</XivButton>
            <XivButton Disabled="true">Disabled button</XivButton>
        </XivWindow>
    </fieldset>
</div>

@code {
    private bool _checked = true;
    private bool _buttonPressed;
}